.projetos h2 {
    text-align: center;
}

.projetos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-block: 1rem;
}